name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  docker:
    uses: paideia-code/paideia-infra-pipelines/.github/workflows/docker-publish.yml@main
    with:
      image-name: paideia-template-nest-rest
    permissions:
      contents: read
      packages: write
